/* Light mode styles */
.light{
  background-color: white;
  color: black;
  transition: background-color 0.5s, color 0.5s;
}

/* Dark mode styles */
.dark{
  background-color: black;
  color: white;
  transition: background-color 0.5s, color 0.5s;
}

/* Style the button (optional) */
button {
  padding: 10px 20px;
  margin-top: 20px;
  cursor: pointer;
}
